.container{
    position: relative;
}

.container .sign-in{
    transition: 1.5s;
    transform: translateX(200%);
    position: absolute;
    left: 100%;
}

.container .sign-in.active {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container .sign-up ,.container .sign-in{
    transition: 1.2s;
    backdrop-filter: blur(46px);
    padding: 13px;
    border: 2px solid #00000012;
    background: #d0d0d01c;
    border-radius: 8px;
}

.container .sign-up{
    transition: 1.2s;
}
.container .sign-up.hide{
    position: absolute;
    transform: translateX(200%);
}
.eye ,.eye-hide{
    left: 82%;
    cursor: pointer;
}
.show {
    left: 56%;
    top: 100%;
}
.show::after {
    position: absolute;
    content: "";
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid rgb(86, 94, 100);
    top: -72%;
    right: 0;
}
.bg,.bg1{
    position: absolute;
    content: "";
    background: #00ffff47;
    width: 800px;
    height: 800px;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-37%, -29%);
    transition: 1.3s;
}
.bg.active{
background-color: #03a9f475;
    transform: translate(37%, -29%);
}
.bg1{
    background-color: #03a9f475;
    right: 0;
    transform: translate(72%, 58%);
    bottom: 0;
}
.bg1.active{
background-color: #00ffff47;
transform: translate(-52%, 58%);
}
form{
    overflow-x: hidden;
}
/* @media (max-width:767px) {
    .container{
        width: 100%!important;
    }
    .sign-up,.sign-in{
        width: 100%!important;
    }
   form{
    }
    .eye, .eye-hide {
        left: 72%;
    }
    .show {
        left: 28%;
    }
    .bg1 {
        transform: translate(26%, 58%);
    }
} */

.btnUp,.btnIn{
    cursor: pointer;
    font-family: "Righteous", sans-serif;
}

::placeholder{
    padding-left: 5px;
}
i {
    left: 10px;
    color: #5e5e5e;
}


h1{
    transform: translateY(-76%);
    font-family:"Pacifico", cursive;
    color: #505050;
}
h2.logo{
    font-family:"Pacifico", cursive;
}
.home {
    transform: translateY(-100%);
    transition: 1s;    
    background: linear-gradient(135deg, #071652, #0c0205);
}
.home.hide {
    transform: translateY(0);
}
.form-control {
    background-color: #ffffff9c;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}
.nav-bar {
    padding: 1rem;
}
.logOut {
    font-size: 1rem;
}
.hello {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hello span{

    font-size: 3rem;
}
.form-control.ps-4 {
    padding-left: 1.7rem!important;
}